{% extends "dash/base.html" %}
{% block content %}
<div class="container">
    <h1>History</h1>

    <!-- Insulin Table -->
    <div class="content-section">
    <div id="insulin" class="table-responsive">
        <h3>Insulin</h3>
        <table id="insulin-body" class="table hide">
            <thead>
                <tr>
                    <th scope="col">Dose</th>
                    <th scope="col">Type</th>
                    <th scope="col">Note</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
                {% for item in insulin %}
                <tbody>
                <tr>
                    <td>{{ item.dose }}</td>
                    <td>{{ item.insulin_type }}</td>
                    <td>{{ item.note }}</td>
                    <td>{{ item.date_administered|date:'d-M-Y' }}</td>
                    <td>{{ item.date_administered|date:'H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- Glucose Table -->
    <div class="content-section">
    <div id="glucose" class="table-responsive">
        <h3>Glucose</h3>
        <table id="glucose-body" class="table hide">
            <thead>
                <tr>
                    <th scope="col">Reading</th>
                    <th scope="col">Note</th>
                    <th scope="col">Date Taken</th>
                    <th scope="col">Time Taken</th>
                </tr>
            </thead>
                {% for item in glucose %}
                <tbody>
                <tr>
                    <td>{{ item.reading }}</td>
                    <td>{{ item.note }}</td>
                    <td>{{ item.date_taken|date:'d-M-Y' }}</td>
                    <td>{{ item.date_taken|date:'H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- InsulinChanged Table -->
    <div class="content-section">
    <div id="insulin-changes" class="table-responsive">
        <h3>Insulin Changes</h3>
        <table id="insulin-changes-body" class="table hide">
            <thead>
                <tr>
                    <th scope="col">Insulin Type</th>
                    <th scope="col">Date Changed</th>
                    <th scope="col">Time Changed</th>
                </tr>
            </thead>
                {% for item in insulin_changed %}
                <tbody>
                <tr>
                    <td>{{ item.insulin_type }}</td>
                    <td>{{ item.date_changed|date:'d-M-Y' }}</td>
                    <td>{{ item.date_changed|date:'H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- Meal Table -->
    <div class="content-section">
    <div id="meal" class="table-responsive">
        <h3>Meal</h3>
        <table id="meal-body"  class="table hide">
            <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Total Carbs</th>
                    <th scope="col">Note</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
                {% for item in meal %}
                <tbody>
                <tr>
                    <td>{{ item.meal }}</td>
                    <td>{{ item.total_carb_intake }}</td>
                    <td>{{ item.note }}</td>
                    <td>{{ item.date|date:'d-M-Y' }}</td>
                    <td>{{ item.date|date:'H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- Reminder Table -->
    <div class="content-section">
    <div id="reminders" class="table-responsive">
        <h3>Reminders</h3>
        <table id="reminders-body" class="table hide">
                <thead>
                <tr>
                    <th scope="col">Reminder</th>
                    <th scope="col">Date</th>
                    <th scope="col">Date Due</th>
                </tr>
            </thead>
            <tbody>
                {% for item in reminder %}
                <tr>
                    <td>{{ item.reminder }}</td>
                    <td>{{ item.date|date:'d-M-Y' }}</td>
                    <td>{{ item.date_due|date:'d-M-Y' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- Cgm Table -->
    <div class="content-section">
    <div id="cgm" class="table-responsive">
        <h3>CGM</h3>
        <table id="cgm-body" class="table hide">
            <thead>
                <tr>
                    <th scope="col">Sensor</th>
                    <th scope="col">Sensor Life</th>
                    <th scope="col">Date Changed</th>
                    <th scope="col">Time Changed</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cgm %}
                <tr>
                    <td>{{ item.sensor }}</td>
                    <td>{{ item.sensor_life }}</td>
                    <td>{{ item.date_changed|date:'d-M-Y' }}</td>
                    <td>{{ item.date_changed|date:'H:i' }}/td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

</div>
{% endblock %}
