{% extends "dash/base.html" %}
{% block content %}
<h1>Dashboard</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="bg-primary text-white p-3 rounded">
                <h2>Insulin</h2>
                {% with latest_insulin=insulin|dictsortreversed:"date_administered"|dictsortreversed:"time_administered"|first %}
                <p>{{ latest_insulin.dose }} units of {{ latest_insulin.insulin_type }}</p>
                <p>Note: {{ latest_insulin.note }}</p>
                <p>Date: {{ latest_insulin.date_administered }}</p>
                <p>Time: {{ latest_insulin.time_administered }}</p>
                {% endwith %}
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-success text-white p-3 rounded">
                <h2>Glucose Reading</h2>
                {% with latest_glucose=glucose|dictsortreversed:"date_taken"|dictsortreversed:"time_taken"|first %}
                <p>{{ latest_glucose.reading }} mg/dL</p>
                <p>Note: {{ latest_glucose.note }}</p>
                <p>Date: {{ latest_glucose.date_taken }}</p>
                <p>Time: {{ latest_glucose.time_taken }}</p>
                {% endwith %}
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-warning text-white p-3 rounded">
                <h2>Insulin Changes</h2>
                {% with latest_insulin_changed=insulin_changed|dictsortreversed:"date_changed"|dictsortreversed:"time_changed"|first %}
                <p>Insulin Type:  {{ latest_insulin_changed.insulin_type }}</p>
                <p>-</p>
                <p>Date changed: {{ latest_insulin_changed.date_changed }}</p>
                <p>-</p>
                {% endwith %}
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-danger text-white p-3 rounded">
                <h2>Food</h2>
                {% with latest_meal=meal|dictsortreversed:"date"|dictsortreversed:"time"|first %}
                <p>Meal: {{ latest_meal.meal }}</p>
                <p>Total Carbs: {{ latest_meal.total_card_intake }}g</p>
                <p>Date: {{ latest_meal.date }}</p>
                <p>Time: {{ latest_meal.time }}</p>
                {% endwith %}
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-info text-white p-3 rounded">
                Content 5
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-secondary text-white p-3 rounded">
                <h2>Reminders</h2>
                
                {% for last_reminder in reminder|dictsort:"date_due"|slice:":3" %}
                <p>Reminder: {{ last_reminder.reminder }}<br>
                Due Date: {{ last_reminder.date_due }}</p>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

